@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
	background-image: url(http://jsbin.firejune.com/assets/solitaire/textures/preview_greenfelt.jpg);
}

.scoreboard {
	height: 50px;
	width: 33.33%;
	margin: auto;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	font-size: 2em;
	background-color: rgba(255, 255, 255, 0.25);
	border-bottom-right-radius: 10px; 
	border-bottom-left-radius: 10px;
}

.board-sizes-menu {
	height: 310px;
	width: 200px;
	border: 2px solid rgb(200, 200, 200);
	border-radius: 20px;
	text-align: center;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.board-sizes-menu h1 {
	font-size: 1.5em;
	text-align: center;
	color: rgb(200, 200, 200);
}

.board-sizes-menu button {
	height: 60px;
	width: 150px;
	margin-bottom: 8px;
	color: rgb(200, 200, 200);
	background-color: rgba(0,0,0,0);
	border: 2px solid rgb(200, 200, 200);;
	border-radius: 15px;
	outline:none;
	position: relative;
}

#board {
	height: 540px;
	width: 487px;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.row {
	height: 25%;
	width: 100%;
}

.tile {
	height: 125px;
	width: 87px;
	margin: 5px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 10px;
	display: inline-block;
}

.card, .full-card {
	background-size: cover;
	position: absolute !important;
	top: 0;
	left: 0;
}

#menu {
	height: 20%;
	width: 105px;
	position: absolute;
	top: 170px;
}

.button {
	height: 40px;
	width: 125px;
	margin-bottom: 8px;
	color: rgb(200, 200, 200);
	background-color: rgba(0,0,0,0);
	border: 2px solid rgb(200, 200, 200);;
	border-radius: 15px;
	position: relative;
	outline:none;
}

button:hover {
	background-color: rgba(255, 255, 255, 0.20);
}

button:active {
	top: 3px;
}

#board2 {
	height: 550px;
	width: 480px;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#board2 > .row {
	height: 20%;
	width: 100%;
}

#board2 > .row > .tile {
	height: 100px;
	width: 70px;
	margin: 5px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 10px;
	display: inline-block;
}


#board3 {
	height: 470px;
	width: 413px;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#board3 > .row {
	height: 16.67%;
	width: 100%;
}

#board3 > .row > .tile {
	height: 70px;
	width: 49px;
	margin: 5px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 10px;
	display: inline-block;
}