* {
	box-sizing: border-box;
}

#board {
	height: 600px;
	width: 600px;
	margin: auto;
	border: 1px solid black;
}

.row {
	height: 25%;
	width: 100%;
}

.tile {
	height: 100%;
	width: 110px;
	display: inline-block;
	border: 1px solid black;
}

#box1 {
	background-color: red;
}

#box2 {
	
}

.card, .full-card {
	height: 155px;
	width: 110px;
	background-size: contain;
	position: absolute !important;
	top: 0;
	left: 0;
}

#move {
	position: absolute;
	top: 170px;
}